*{
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    display: inline-block;
    color: red;
    width: 49%;
}
a{
    width: 400px;
    display: inline-block;
}
ul{
    list-style: none;
    text-align: end;
    padding: 30px;
    background-color: black;
    color: white;
}
li{
    display: inline;
    padding: 20px;
}
li:hover{
    background-color: red;
    color: black;
}